@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom range slider styling */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  outline: none;
}

/* Track */
input[type="range"]::-webkit-slider-track {
  background: white;
  height: 2px;
  border-radius: 1px;
}

input[type="range"]::-moz-range-track {
  background: white;
  height: 2px;
  border-radius: 1px;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: white;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}